<section>
  <% console.log(config.root); %>
  <a href="<%- config.root %><%- post.path %>" title="<%= post.title %>" itemprop="url">
    <img src="<%= post.coverImg%>"width="300px" height="200px" />
    <p><%= post.title %></p>
  </a>
</section>

